In [1]:
import pandas as pd
import numpy as np
import csv
import pickle

In [2]:
filepath_users = 'turpravda/userswTypes'; 
filepath_rev = 'turpravda/tripswTypes'; 
filepath_hotels = 'turpravda/hotels39K'
filepath_countries = 'turpravda/countries'
filepath_resorts = 'turpravda/resorts'
hotels = pd.read_pickle(filepath_hotels)
countries = pd.read_pickle(filepath_countries)
resorts = pd.read_pickle(filepath_resorts)
reviews = pd.read_pickle(filepath_rev)
with open(filepath_users, 'rb') as f:
    users = pickle.load(f)
id_for_users = [i for i in range(len(users))]
users['user_id'] = id_for_users

In [3]:
ukr_users = users[users['country'] == 'Украина']
rus_users = users[users['country'] == 'Россия']
noncoun_users = users[users['country'] == '']
bel_users = users[users['country'] == 'Беларусь']
kazah_users = users[users['country'] == 'Казахстан']

In [4]:
ukrVisitedHotels = pd.merge(reviews, ukr_users, on='user_id').drop('url_x',axis=1).drop('review',axis=1).drop('url_y',axis=1).drop('gender',axis=1).drop('city',axis=1)
rusVisitedHotels = pd.merge(reviews, rus_users, on='user_id').drop('url_x',axis=1).drop('review',axis=1).drop('url_y',axis=1).drop('gender',axis=1).drop('city',axis=1)
belVisitedHotels = pd.merge(reviews, bel_users, on='user_id').drop('url_x',axis=1).drop('review',axis=1).drop('url_y',axis=1).drop('gender',axis=1).drop('city',axis=1)
nonCounVisitedHotels = pd.merge(reviews, noncoun_users, on='user_id').drop('url_x',axis=1).drop('review',axis=1).drop('url_y',axis=1).drop('gender',axis=1).drop('city',axis=1)
kazahVisitedHotels = pd.merge(reviews, kazah_users, on='user_id').drop('url_x',axis=1).drop('review',axis=1).drop('url_y',axis=1).drop('gender',axis=1).drop('city',axis=1)

set_ukrHotels = set(ukrVisitedHotels['hotel_id'].tolist())
set_rusHotels = set(rusVisitedHotels['hotel_id'].tolist())
set_belHotels = set(belVisitedHotels['hotel_id'].tolist())
set_noncounHotels = set(nonCounVisitedHotels['hotel_id'].tolist())
set_kazahHotels = set(kazahVisitedHotels['hotel_id'].tolist())

print(len(set_ukrHotels),len(set_rusHotels),len(set_belHotels),len(set_noncounHotels),len(set_kazahHotels))

set_ukrRus = set_ukrHotels & set_rusHotels
set_ukrBel = set_ukrHotels & set_belHotels
set_ukrNonCoun = set_ukrHotels & set_noncounHotels
set_ukrKazah = set_ukrHotels & set_kazahHotels
print(len(set_ukrRus),len(set_ukrBel),len(set_ukrNonCoun),len(set_kazahHotels))

8749 9365 1341 4114 585
4870 1102 2485 585

In [17]:
def forming_files(dataframe):
    new_df = pd.merge(dataframe, hotels, right_on="id",left_on="hotel_id")
    new_df = new_df.drop("description",axis=1).drop("url",axis=1).drop("location",axis=1)
    new_df = new_df.drop("stars",axis=1).drop("address",axis=1).drop("gps_latitude",axis=1)
    new_df = new_df.drop("reviews",axis=1).drop("beach",axis=1).drop("gps_longitude",axis=1)
    new_df = new_df.drop("cost",axis=1)
    new_df = pd.merge(new_df, resorts, left_on = "resort_id",right_on="id").drop("resort",axis=1).drop("title",axis=1)
    new_df = new_df.drop("id_y",axis=1).drop("id_x",axis=1)
    new_df = pd.merge(new_df, countries, left_on="country_id",right_on="id")
    df = new_df.ix[:, 'country_y'].value_counts().reset_index()
    return df 
visited = [ukrVisitedHotels, rusVisitedHotels,belVisitedHotels,kazahVisitedHotels,nonCounVisitedHotels]
popular_for_coun = []
names = ['ukr','rus','bel','kazah','non']
for i in range(len(visited)):
    df = forming_files(visited[i])
    popular_for_coun.append(df)
    name = names[i] + ".csv"
    df.to_csv(name)

In [40]:
hotel = pd.DataFrame({'id' : hotels['id'],\
             'title' : hotels['title'],\
              'stars':hotels['stars'],\
             'latitude': hotels['gps_latitude'],
              'longitude':hotels['gps_longitude'],\
                    'resort_id':hotels['resort_id'] })

In [44]:
hotel = pd.merge(hotel, resorts,left_on='resort_id',right_on='id')

In [56]:
#hotel = hotel.drop('id_y',axis=1)
hotel.columns = ['hotel_id','latitude','longitude','resort_id','stars','title','resort','country']
hotel.head(1)

,hotel_id,latitude,longitude,resort_id,stars,title,resort,country
0,8004.0,27.9736,34.4239,eg/sharm_el_sheyh,5,Sensatori Sharm El Sheikh Resort,ШАРМ ЭЛЬ ШЕЙХ,eg

In [57]:
turkey_hotels = hotel[hotel['country'] == 'tr']
turkey_hotels.head()

,hotel_id,latitude,longitude,resort_id,stars,title,resort,country
211,8018.0,36.69031,30.57027,tr/kemer,3,Rios Beach Hotel,КЕМЕР,tr
212,8973.0,36.65810,30.55640,tr/kemer,5,Queen's Park Goynuk,КЕМЕР,tr
213,8974.0,36.54730,30.56090,tr/kemer,1,Club Marco Polo,КЕМЕР,tr
214,8977.0,36.54608,30.55708,tr/kemer,5,Holiday Area Farm Resort,КЕМЕР,tr
215,8979.0,36.66270,30.55830,tr/kemer,4,Fame Residence Goynuk,КЕМЕР,tr

In [58]:
turkey_hotels.to_csv(r'data/hotels_data/turkey_hotels_all.csv')

In [ ]:
import json
import io
try:
    to_unicode = unicode
except NameError:
    to_unicode = str

In [ ]:
# sets = [
#         {"sets": [0], "label": "Hotels visited By Ukr", "size": 8749},
#         {"sets": [1], "label": "Hotels visited By Rus", "size": 9365},
#         {"sets": [2], "label": "Hotels visited By Bel", "size": 1341},
#         {"sets": [3], "label": "Hotels visited By Bel", "size": 4114},
#         {"sets": [4], "label": "Hotels visited By Bel", "size": 585},
#         {"sets" : [0,1], "size": 4870},
#         {"sets" : [0,2], "size": 1102},
#         {"sets" : [0,3], "size": 2485},
#         {"sets" : [0,4], "size": 585}
# ]
# with io.open('vis/data/data.json', 'w', encoding='utf8') as outfile:
#     str_ = json.dumps(sets,
#                       indent=4, sort_keys=True,
#                       separators=(',', ': '), ensure_ascii=False)
#     outfile.write(to_unicode(str_))