In [1]:
import pandas as pd
import pickle

In [2]:
filepath_users = 'data/turpravda/userswTypes'; 
filepath_rev = 'data/turpravda/tripswTypes'; 
filepath_hotels = 'data/turpravda/hotels39K'
filepath_countries = 'data/turpravda/iso-flags.csv'
filepath_resorts = 'data/turpravda/resorts'

countries = pd.read_csv(filepath_countries)
hotels = pd.read_pickle(filepath_hotels)
resorts = pd.read_pickle(filepath_resorts)
reviews = pd.read_pickle(filepath_rev)
with open(filepath_users, 'rb') as f:
    users = pickle.load(f)
id_for_users = [i for i in range(len(users))]
users['user_id'] = id_for_users

In [41]:
def unique_col_values(df):
    for column in df:
        print("{} | {} | {}".format(
            df[column].name, len(df[column].unique()), df[column].dtype
        ))

def agg_avg(df, group_field, calc_field):
    grouped = df.groupby(group_field, as_index=False)[calc_field].mean()
    grouped = grouped.sort_values(calc_field, ascending = False)
    grouped.columns = [group_field, 'Avg ' + str(calc_field)]
    return grouped

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [57]:
hotels[hotels['id']==8006].title.tolist()[0] , hotels[hotels['id'] == 8010].title.tolist()[0]

('Dreams Beach Resort', 'Radisson Blu Resort')

In [40]:
unique_col_values(hotels)

id | 28186 | float64
title | 25857 | object
stars | 5 | object
description | 27855 | object
url | 28186 | object
rating | 93 | object
address | 17663 | object
gps_latitude | 14583 | float64
gps_longitude | 14597 | float64
location | 19333 | object
beach | 6146 | object
reviews | 214 | float64
cost | 1 | float64
resort_id | 1646 | object

In [25]:
# hotels[(hotels['stars'] != '5')& (hotels['stars'] != '4')&(hotels['stars'] != '3')&(hotels['stars'] != '2')&(hotels['stars'] != '1')]

In [39]:
agg_avg(hotels,'stars','reviews')

  stars  Avg reviews
4     5     9.453571
0     1     5.858360
3     4     4.630313
2     3     3.313998
1     2     2.782502

In [15]:
five_star_hotels = hotels[hotels['stars'] == '5'][['id','stars','rating','reviews']]
four_star_hotels = hotels[hotels['stars'] == '4'][['id','stars','rating','reviews']]
three_star_hotels = hotels[hotels['stars'] == '3'][['id','stars','rating','reviews']]
two_star_hotels = hotels[hotels['stars'] == '2'][['id','stars','rating','reviews']]
one_star_hotels = hotels[hotels['stars'] == '1'][['id','stars','rating','reviews']]

In [16]:
print(len(one_star_hotels),len(two_star_hotels),len(three_star_hotels),len(four_star_hotels),len(five_star_hotels))

939 4092 10016 8940 4200

In [70]:
stars_median = [one_star_hotels,two_star_hotels,three_star_hotels,four_star_hotels,five_star_hotels]

In [63]:
stars = [one_star_hotels.loc[:900],two_star_hotels.loc[:900],three_star_hotels.loc[:900],four_star_hotels.loc[:900],five_star_hotels.loc[:900]]

In [81]:
import scipy.stats as st
import numpy as np

In [90]:
def descriptive1d(x):
    _x = x  
    result = []
    m = np.mean(_x)
    print('Среднее: ', m)
    result.append(m)
    
    min_ = np.min(_x)
    max_ = np.max(_x)
    result.append((min_, max_))  
    print('Min Max: ', min_,max_)
    
    std = np.std(_x)
    result.append(std)
    print('Стандартное отклонение: ', std)
    
    result.append(result[0]/result[-1])
    
    print('Квартили: 25,50,75: ', np.percentile(_x, 25), np.percentile(_x, 50), np.percentile(_x, 75)) 
    result.append((np.percentile(_x, 25), np.percentile(_x, 50), np.percentile(_x, 75)))
    
    result.append(st.mode(_x)) 
    print('Mode',st.mode(_x)[0])
    
    result.append(st.skew(_x))  # асимметрия 
    print('Ассиметрия',st.skew(_x))
    
    result.append(st.kurtosis(_x))  # эксцесс
    print('Эксцесс',st.kurtosis(_x))
    
    
    _range = np.linspace(0.9 * np.min(_x), 1.1 * np.max(_x), 100)
    result.append(st.gaussian_kde(_x)(_range))  # оценка плотности распределения

In [91]:
descriptive1d(one_star_hotels.reviews.tolist())

Среднее:  5.8583599574
Min Max:  0.0 226.0
Стандартное отклонение:  18.2892439707
Квартили: 25,50,75:  0.0 1.0 4.0
Mode [ 0.]
Ассиметрия 6.916055564731386
Эксцесс 59.95244035994925

In [92]:
descriptive1d(two_star_hotels.reviews.tolist())

Среднее:  2.78250244379
Min Max:  0.0 101.0
Стандартное отклонение:  6.84346030656
Квартили: 25,50,75:  0.0 0.0 2.0
Mode [ 0.]
Ассиметрия 5.959464333845041
Эксцесс 52.95295659914233

In [93]:
descriptive1d(three_star_hotels.reviews.tolist())

Среднее:  3.31399760383
Min Max:  0.0 230.0
Стандартное отклонение:  9.82993101114
Квартили: 25,50,75:  0.0 0.0 2.0
Mode [ 0.]
Ассиметрия 7.310394368205771
Эксцесс 85.28928554510377

In [94]:
descriptive1d(four_star_hotels.reviews.tolist())

Среднее:  4.63031319911
Min Max:  0.0 474.0
Стандартное отклонение:  18.2403821769
Квартили: 25,50,75:  0.0 0.0 2.0
Mode [ 0.]
Ассиметрия 9.297442198424827
Эксцесс 128.67254138451503

In [95]:
descriptive1d(five_star_hotels.reviews.tolist())

Среднее:  9.45357142857
Min Max:  0.0 576.0
Стандартное отклонение:  34.0338310202
Квартили: 25,50,75:  0.0 0.0 2.0
Mode [ 0.]
Ассиметрия 7.024177209419504
Эксцесс 69.0187681550907

In [64]:
for i in range(len(stars)):
    print('Среднее количество отзывов о ', i+1 ,'звёздном отеле:')
    print(agg_avg(stars[i],'stars','reviews'))
    print("-----------------------------------------------------")

Среднее количество отзывов о  1 звёздном отеле:
  stars  Avg reviews
0     1    40.333333
-----------------------------------------------------
Среднее количество отзывов о  2 звёздном отеле:
  stars  Avg reviews
0     2     4.448276
-----------------------------------------------------
Среднее количество отзывов о  3 звёздном отеле:
  stars  Avg reviews
0     3     8.104377
-----------------------------------------------------
Среднее количество отзывов о  4 звёздном отеле:
  stars  Avg reviews
0     4    10.816384
-----------------------------------------------------
Среднее количество отзывов о  5 звёздном отеле:
  stars  Avg reviews
0     5    23.628415
-----------------------------------------------------

In [72]:
for i in range(len(stars)):
    print('Среднее количество отзывов о ', i+1 ,'звёздном отеле:')
    print(stars_median[i].reviews.median())
    print("-----------------------------------------------------")

Среднее количество отзывов о  1 звёздном отеле:
1.0
-----------------------------------------------------
Среднее количество отзывов о  2 звёздном отеле:
0.0
-----------------------------------------------------
Среднее количество отзывов о  3 звёздном отеле:
0.0
-----------------------------------------------------
Среднее количество отзывов о  4 звёздном отеле:
0.0
-----------------------------------------------------
Среднее количество отзывов о  5 звёздном отеле:
0.0
-----------------------------------------------------

In [75]:
for i in range(len(stars)):
    print('Мода ', i+1 ,'звёздном отеле:')
    print(stars_median[i].reviews.mode())
    print("-----------------------------------------------------")

Мода  1 звёздном отеле:
0    0.0
dtype: float64
-----------------------------------------------------
Мода  2 звёздном отеле:
0    0.0
dtype: float64
-----------------------------------------------------
Мода  3 звёздном отеле:
0    0.0
dtype: float64
-----------------------------------------------------
Мода  4 звёздном отеле:
0    0.0
dtype: float64
-----------------------------------------------------
Мода  5 звёздном отеле:
0    0.0
dtype: float64
-----------------------------------------------------